.c-overview {
  padding: 20px;
  font-size: 18px;

  .icon {
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }
}

.c-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  color: #fff;
  background-color: $primary;
  transition: 0.2s linear;

  &:hover {
    background-color: darken($primary, 10%);
  }

  &.disabled {
    pointer-events: none;
    background-color: lighten($primary, 25%);
  }
}
