* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

main > .sidebar {
  background: $dark;
  color: #eee;
}

main > .sidebar .logo {
  background: darken($dark, 10%);
  color: lighten($dark, 50%);
  display: block;
  text-align: center;
  font-family: $font-logo;
  font-size: 26px;
  padding: 10px 20px;
}

main > .content {
  background: $light;
  padding: 20px;
}
