<template>
  <main>
    <div class="sidebar">
      <span class="logo">Idle Content Creator</span>
      <section class="c-overview">
        <div id="money">
          <i class="icon fas fa-piggy-bank"></i> $ <span>{{ player.money.toFixed(2) }}</span>
        </div>
        <div id="mps">
          <i class="icon fas fa-chart-line"></i> $ <span>{{ player.mps.toFixed(2) }}</span> p/s
        </div>
        <button class="c-button" @click="reset">Reset</button>
      </section>
    </div>
    <div class="content">
      <router-view/>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState } from 'vuex'
import * from '../constants'

export default Vue.extend({
  name: 'App',
  methods: {
    ...mapActions(['getPlayer', 'getUpgrades', 'loadActions']),
    reset() {
      localStorage.clear()
      document.location.reload()
    }
  },
  computed: {
    ...mapState(['player'])
  },
  created() {
    this.loadActions()
    this.getPlayer()
    this.getUpgrades()
  },
})
</script>