<template>
  <div>
    <section class="c-actions">
      <h2>Actions</h2>
      <div id="actions">
        <div class="action" v-for="(action, key) in visibleActions" :key="key">
          <button
            class="c-button"
            :class="{
              disabled:
                player.deltaTime <= action.lastRunDelta + action.duration,
            }"
            @click="runAction({ name: key, delta: player.deltaTime })"
          >
            {{ action.name }}
          </button>
          <div class="progress">
            <div class="bar" :style="getActionAnimation(action)"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-upgrades">
      <h2>Upgrades</h2>
      <div id="upgrades">
        <button
          class="c-button"
          v-for="(upgrade, key) in visibleUpgrades"
          :key="key"
          :class="{ disabled: upgrade.cost > player.money }"
          @click="buyUpgrade(key)"
        >
          {{ upgrade.name }} ($ {{ upgrade.cost.toFixed(2) }})
        </button>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState } from 'vuex'

export default Vue.extend({
  name: 'Home',
  computed: {
    ...mapState(['actions', 'upgrades', 'player']),

    visibleActions() {
      const visible = {}
      for (let key in this.actions) {
        const action = this.actions[key]
        // if (action.quantity > 0 || action.cost < this.player.totalMoney) {
        visible[key] = action
        // }
      }
      return visible
    },

    visibleUpgrades() {
      const visible = {}
      for (let key in this.upgrades) {
        const upgrade = this.upgrades[key]
        if (upgrade.quantity > 0 || upgrade.cost < this.player.totalMoney) {
          visible[key] = upgrade
        }
      }
      return visible
    },
  },
  methods: {
    ...mapActions(['runAction', 'buyUpgrade']),

    getActionAnimation(action) {
      if (this.player.deltaTime <= action.lastRunDelta + action.duration) {
        return {
          animation: `actionbar ${action.duration}ms linear`,
        }
      }
    },
  },
})
</script>

<style lang="scss">
.action {
  width: fit-content;
  margin-bottom: 10px;

  .progress {
    background: #eee;
    width: 100%;
    height: 4px;
    position: relative;

    .bar {
      display: block;
      position: absolute;
      content: ' ';
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      bottom: 0;
      width: 0;
    }
  }
}

@keyframes actionbar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
</style>
